.sign-up-view {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sign-up-page-container-view {
  width: 100%;
  background: url("../../accessories/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.spinner {
  position: absolute;
  top: 50vh;
}
.form-container-signUp {
  width: 100%;
  background-color: white;
  border-top-left-radius: 10px;
}
.sign-up-page-fixed {
  height: 50px;
}
.signin-submit-button {
  margin-top: 15px;
}
.home-button-sign-up-container {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.login-signup {
  color: blue;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .form-container-signUp {
    max-width: 350px;
    margin-left: auto;
    padding: 8px 15px;
    opacity: 1;
  }
}

.header-signIn {
  text-align: center;
  margin-bottom: 28px;
  /* border: solid red 1px; */
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}
.sign-in-option {
  margin-top: 5px;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #fff;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}
