.form-container-view {
  display: flex;
  justify-content: center;
}
.form-container {
  width: 350px;
  background-color: white;
  border-top-left-radius: 15px;
  padding: 3px 15px;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-main {
  width: 100%;
}
.signin-submit-button {
  margin-top: 15px;
}
.spinner-container-signin {
  position: absolute;
  top: 50vh;
}

@media only screen and (max-width: 680px) {
  .form-container {
    /* width: 100%; */
    max-width: 300px;
    background-color: white;
    margin-top: 10vh;
    border-top-left-radius: 8px;
    /* padding: 6px 15px; */
    opacity: 1;
    /* border: solid red 1px; */
  }
}

.header-signIn {
  text-align: center;
  margin-bottom: 28px;
  /* border: solid red 1px; */
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}
.sign-in-option {
  margin-top: 5px;
}
.home-button-container {
  width: 100%;
  margin-top: 25px;
}
.home-button {
  width: 70px;
  margin: 0 auto;
  height: 40px;
  border-radius: 9px;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #fff;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

.error-signin {
  color: red;
}
