.homepage-component-container {
  width: 100%;
  height: 100%;
}
.homepage-component-container::after {
  content: "";
  background: url("../../accessories/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.homepage-component-signin-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
