.lecturer-course-page{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "column-one column-two";  

}

.column-one{
 grid-area: column-one;
 height: 150px;
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: rgba(66,133,244,1);
}
.column-two{
 grid-area: column-two;
 height:80vh;
}
.lecturer-course-page-column1-item{
    color: white;
    padding: 5px;
    cursor: pointer;
}
.lecturer-course-page-column1-item:hover{
    color: purple;
}