.student-courses-page-container{
    width: 100%;
    margin: 10px auto;
    height:500px;
}
.student-courses-page-category-selector-container{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
}
@media only screen and (max-width: 500px){
    .student-courses-page-category-selector-container{
        width: 70%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    
  }