.your-course-header {
  margin: 0 auto;
}
.delete {
  color: crimson;
}
.your-courses-container {
  /* border: solid red 1px; */
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
}
