.lecturer-page-header-container {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
  color: white;
  background-color: #20232a;
  align-items: center;
}
.lecturer-page-header-logo {
  width: 55px;
  height: 57px;
  padding: 7px 7px;
}
.lecturer-page-header-options {
  display: flex;
  flex-direction: row;
  padding-right: 5px;
}
.lecturer-page-header-option {
  margin: 9px 5px;
  color: white;
}
.lecturer-page-header-option:hover {
  /* margin: 9px 5px; */
  color: white;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (min-width: 700px){
  .lecturer-page-header-option {
    margin: 9px 15px;
    color: white;
  }

  .lecturer-page-header-options {
    display: flex;
    flex-direction: row;
    padding-right: 15px;
  }
}