.create-course-container {
  width: 100%;
}
.form-container-create-course {
  width: 90%;
  margin: 0 auto;
}
.create-submit-button {
  width: 89px;
  margin: 10px auto;
}
@media only screen and (min-width: 800px) {
  .create-course-container {
    display: flex;
    justify-content: center;
  }
  .form-container-create-course {
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    display: inline-block;
  }
}
