.student-profile-container {
  width: 60vw;
  margin: 10px auto;
}
.student-profile-header{
  font-size: 40px;
  margin-bottom: 15px;
}

.student-profile-main-content-container {
  height: 250px;
  display: flex;
  flex-direction: row;
}
.student-profile-main-content {
  flex-grow: 1;
}
.student-profile-picture {
  width: 120px;
  height: 150px;
  margin: auto 0;
}

.student-profile-main-content-heading{
    height: 40px;
}
.student-page-button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.student-page-courses-button{
    background-color: #167bff;
    border-radius: 10px;
}
.student-page-courses-button-link{
  text-decoration: none;
  color: white;
}
.student-page-courses-button-link:hover{

  text-decoration: none;
  color: white;
}